@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-size: 10px;
}
body{
    font-family: "Inter", sans-serif;
}
h1{
    font-size: 4.5rem;
    font-weight: 700;
}
h2{
    font-size: 3.2rem;
    font-weight: 700;
}
h3{
    font-size: 2.4rem;
    font-weight: 700;
}
button, div, p{
    font-size: 1.8rem;
}
button{
    border: solid white;
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
}
span{
    padding: 10px 20px;
}
.text{
    padding: 20px;
}
.faq-list > li{
    min-height: 60px;
    display: flex;
    border: solid 1px violet;
    padding: 20px 0;
    align-items: center;
    border-bottom: solid 2px black;
}