@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary: #6C91C9;
    --navy: #1D2240;
    --babyblue: #E4EFFF;
    --offwhite: #F6F9FF;
    --primarydark: #48699C;
}

html{
    font-size: 10px;
}
body{
    font-family: "Inter", sans-serif;
}
h1{
    font-size: 4.5rem;
    font-weight: 700;
}
h2{
    font-size: 3.2rem;
    font-weight: 700;
}
h3{
    font-size: 2.4rem;
    font-weight: 700;
}
button, div, p{
    font-size: 1.8rem;
}
.button-sm{
    height: 50px;
    padding: 10px 25px;
    border-radius: 4px;
    min-width: 120px;
}
.button-lg{
    height: 70px;
    padding: 20px 35px;
    border-radius: 4px;
    font-size: 2.2rem;
}
.button-dark{
    background-color: #6C91C9;
    color: white;
}
.button-light{
    color: var(--navy);
    background-color: white;
}
.button-dark{
    background-color: #6C91C9;
    color: white;
}
.button-light{
    color: var(--navy);
    background-color: white;
}
span{
    padding: 10px 20px;
}
.text{
    padding: 20px;
}
.cards{
    border: solid var(--navy);
    background-color: white;
    padding: 20px;
}

.faq-list > li{
    min-height: 60px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-bottom: solid 2px var(--navy);
    text-decoration: underline;
}
.s4-p{
    padding: 30px 50px;
}
.form-div{
    min-height:70px;
    padding: 6px 0;
    border: solid violet;
}
.form-input{
    background-color: white;
    border: solid var(--primarydark);
    border-radius: 4px;
    padding-left: 12px;
    min-height: 50px;
}